<div class="container">
<div class="row">
	<div class="col-md-12">
		<br/>
		<h2 class="text-center">if you invested the money instead,<br/> 
you could have:</h2><br/>
	</div>
</div>

<div class="row">
	<div class="col-md-4">
		<h1 class="text-center">$<%= @investment.fiveYear %></h1>
		<h2 class="text-center">in 5 years</h2>
	</div>
	<div class="col-md-4">
		<h1 class="text-center">$<%= @investment.tenYear %></h1>
		<h2 class="text-center">in 10 years</h2>
	</div>
	<div class="col-md-4">
		<h1 class="text-center">$<%= @investment.twentyYear %></h1>
		<h2 class="text-center">in 20 years</h2>
	</div>
</div>
</div>